<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center"><%= link_to new_task_path() do %>
      <%= image_tag("edit-task.png", id: "img-edit-task", alt: "Waqtar - Novi projekat!", title: "Waqtar - Novi projekat!") %>
      <% end %><br> Dodaj novi projekat </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  text-center"><%= link_to new_record_path() do %>
      <%= image_tag("new-task.png", id: "img-new-task", alt: "Waqtar - Novi unos!", title: "Waqtar - Novi unos!") %>
      <% end %><br> Dodaj novi vremenski unos </div>
  </div>
</div>


<%= link_to new_task_path() do %><%= image_tag 'date_time_functions.png', size: '32x32', alt: 'Dodaj novi projekat', title: 'Dodaj novi projekat' %><% end %>
