<div class="container">
  <h1 class="text-center">Izmjeni <span style="color:#FF0000"> zadatak</span></h1>

  <p>&nbsp;</p>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(@task) do |zadatak|%>

        <div class="form-group">
          <%= zadatak.label "Naziv projekta" %>
          <%= zadatak.text_field :taskname, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= zadatak.label "Naručilac" %>
          <%= zadatak.text_field :clientname, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= zadatak.label "Status" %>
          <% zadatak_status = [['Otvoren zadatak', 'status-task-open'], ['Zaključan zadatak', 'status-task-locked']] %>
          <%= zadatak.select :taskstatus, zadatak_status, {}, { class: "form-control", required: true } %>
        </div>

        <div class="form-group">
          <% zadatak.label "Opis zadatka"%>
          <%= zadatak.text_area :taskdesc, :class => "tinymce", :rows => 10, :cols => 10 %>
        </div>

        <div class="form-group">
          <%= zadatak.submit "Izmjeni!", class: 'btn btn-success text-center btn-large' %>
          <a href="<%= root_path %>" class="btn btn-warning" role="button">Poništi</a>
        </div>

      <% end %>
    </div>
  </div>

</div>

<%= tinymce %>
