
<div id="subHeader" style="background-color:#333; font-size:16px;">
<p class="text-center"><span style="color:#EAEAEA;"><i class="fa fa-quote-left fa-1x" aria-hidden="true"></i> <%= @task.taskname %> <i class="fa fa-quote-right fa-1x" aria-hidden="true"></i></span></p>
<p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<div class="container">
  <div class="task-description-show"><%= @task.taskdesc.html_safe %></div>
</div>
<div class="separator50">&nbsp;</div>

<div class="container">
  <table class="table">
  <thead>
    <tr style="font-weight:700;">
      <td bgcolor="EAEAEA">Br.</td>
      <td bgcolor="EAEAEA">Datum unosa</td>
      <td bgcolor="EAEAEA">Početak:</td>
      <td bgcolor="EAEAEA">Kraj:</td>
      <td bgcolor="EAEAEA" align="right">Minutaža</td>
    </tr>
  </thead>
  <tbody>

      <% @show_count = 1; %>
      <% @total_mins = 0; %>
      <% @records.each do |unosi| %>
      <tr>
      <td> <%= @show_count %> </td>
      <td><%= unosi.recorddate %></td>
      <td><%= unosi.begintime %></td>
      <td><%= unosi.endtime %></td>
      <td align="right"><%= unosi.difftime %></td>
      <tr>
        <% @show_count += 1 %>
        <% @total_mins = @total_mins + unosi.difftime %>
      <% end %>
      <tr>
        <td align="left" class="total-mins-table">TOTAL:</td>
        <td align="right" colspan="4" class="total-mins-table">
          <%= @total_mins %> minuta | <span style="font-weight:100 !important;"><%= (@total_mins/60).to_i %> sati i <%= @total_mins - ((@total_mins/60).to_i*60) %> minuta</span></td>
      </tr>
  </tbody>

</table>


<div class="separator50">&nbsp;</div>
<a href="<%= root_path %>" class="btn btn-warning text-center" role="button">Nazad na početnu</a>
<div class="separator50">&nbsp;</div>
</div>
