

<div class="container">
  <table class="table">
  <thead>
    <tr>
      <td colspan="3"><h3>Lista aktuelnih projekata</h3></td>
    </tr>
    <tr>
      <td bgcolor="EAEAEA"><strong>Br.</strong></td>
      <td bgcolor="EAEAEA"><strong>Naslov projekta</strong></td>
      <td bgcolor="EAEAEA"><strong>Naručilac projekta</strong></td>
      <td bgcolor="EAEAEA" align="right">&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |zadatak| %>
       <% @task_status = zadatak.taskstatus %>
    <tr>
      <td><%= zadatak.id %></td>
      <td>
      <%= link_to task_path(id: zadatak.id) do %><%= zadatak.taskname %><% end %>
      <div class="task-description-index">
        <%= zadatak.taskdesc.truncate_words(8).html_safe %>
      </div>
      </td>
      <td><%= zadatak.clientname %></td>
      <td align="right">
      <% if @task_status == "status-task-open" %>
        <%= link_to edit_task_path(zadatak.id) do%>
          <%= image_tag('edit-task-tableicon', alt: "Izmijeni zadatak") %>
        <% end %>
      <% elsif @task_status == "status-task-locked" %>
      <%= image_tag('edit-task-tableicon', alt: "Izmijeni zadatak", class: "deactivate") %>
      <% end %>


      <% if @task_status == "status-task-open" %>
        <%= link_to new_record_path() do %>
              <%= image_tag('new-record-tableicon.png') %>
        <% end %>
      <% elsif @task_status == "status-task-locked" %>
        <%= image_tag('new-record-tableicon.png', class: "deactivate") %>
      <% end %>

      <%= link_to task_path(zadatak.id), method: :delete, :data => {:confirm => 'Sigurno želiš obrisati ovaj zadatak?'} do %>
          <%= image_tag('delete-task-tableicon', alt: "Izbriši zadatak") %>
      <% end %>

      <%= image_tag("#{@task_status}", size:'16x16') %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>

<div class="separator50">&nbsp;</div><div class="separator50">&nbsp;</div>
