<script>
$( function() {
  $("#record_recorddate").datepicker({ dateFormat: 'yy-mm-dd' });

 });

</script>


<div class="container">
  <h1 class="text-center"> Dodaj novi <span style="color:#FF0000;">vremenski unos</span> </h1>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(@record) do |unos| %>
        <div class="form-group">
          <%= unos.label "Početak (HH:MM)" %>
          <%= unos.text_field :begintime, class: 'form-control', value: Time.now.strftime('%H:%M'), required: true %>
        </div>
        <div class="form-group">
          <%= unos.label "Kraj (HH:MM)" %>
          <%= unos.text_field :endtime, class: 'form-control', required: true %>
        </div>
        <script>
        $(document).ready(function(){

          function Timecount(){
            var starttime = $("#record_begintime").val();
            var finishtime = $("#record_endtime").val();

            var st_cut = starttime.split(':')
            var et_cut = finishtime.split(':')
            var sahat1 = parseInt(st_cut[0]);
            var minut1 = parseInt(st_cut[1]);
            var sahat2 = parseInt(et_cut[0]);
            var minut2 = parseInt(et_cut[1]);

            if (sahat2 > sahat1){
              if (sahat2-sahat1 == 1)
                min_total = (60-minut1) + minut2;
              else {
                min_total = (60-minut1) + minut2 + ((sahat2-sahat1-1)*60);
              }

            } else if (sahat2 == sahat1) {
              if (minut2 > minut1){
              // primjer 16:15 - 16:56
              min_total = minut2 - minut1;
              } else {
              min_total = 1440 - (minut1 - minut2);
              // !!! radni obim od skoro 24h... ???
              }
            } else {
              min_total = ((24-sahat1)*60-minut1) + ((sahat2*60)+minut2);
            }

            $("#record_difftime").val(min_total);

          }



          $("#record_difftime").click(
            function() {
              Timecount();
          });

          $(window).mouseover(function() {
            Timecount();
          });

        });

        </script>
        <button type="button" class="btn btn-danger" id="runner" style="display:none;">Danger</button>
        <div class="form-group">
          <%= unos.label "Ukupno minuta:" %>
          <%= unos.text_field :difftime, class: "form-control text-center time-diff-display", readonly: true, value: '000' %>
        </div>
        <div class="form-group">
          <p>&nbsp;</p>
          <%= collection_select(:record, :taskid, Task.all, :id, :taskname, {prompt: "Odaberi projekat"}, {class: "form-control", required: true}) %>
        </div>
        <div class="form-group">
          <%= unos.label "Datum unosa" %>
          <%= unos.text_field :recorddate, class: "form-control", required: true %>
        </div>
        <div class="form-group">
          <%= unos.submit "Dodaj unos!", class: "btn btn-large btn-success" %>
          <a href="<%= root_path %>" class="btn btn-warning" role="button">Poništi</a>
        </div>
      <% end %>

    </div>
  </div>

<div class="separator50">&nbsp;</div>

</div>
