<div class="container">
  <h1 class="text-center"> Prikaži odabrani <span style="color:#FF0000;">zadatak</span>: <br>
    <% @task.each do |ime_zadatka| %>
    <%= ime_zadatka.taskname %>
    <% end %> (<%= @record.id %>)</h1>
  <div class="row">
    <div class="col-md-6">
      <p><%= @record.begintime %></p>
      <p><%= @record.endtime %></p>
      <p><%= @record.difftime %></p>
    </div>
    <div class="col-md-6">
      <h3><%= @record.difftime %></h3>
    </div>
  </div>

<div class="separator50">&nbsp;</div>

<a href="<%= root_path %>" class="btn btn-warning text-center" role="button">Nazad na početnu</a>

<div class="separator50">&nbsp;</div>

</div>
