/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  height:100%;
  padding:0px;
  border:0px;
  margin:0px;
  /*background: url('background.jpg');
  background-position: right bottom;
  background-repeat: no-repeat; */
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
}
h1 { font-weight: 900 !important;}

p { margin: 0px !important; text-shadow: 1px 1px #333; }

header a { color: #fff !important; padding-right: 10px; font-size:16px !important;}
header a:hover { color: #fff !important; padding-right: 10px; text-decoration: underline; }

.header-cover {background-color:#000; color:#FFF; padding:15px 0px 85px 0px; background-image: url('old-clock-bkg.jpg'); background-position: center center; background-size:cover;}

#img-edit-task {}
#img-new-task {}

@media (max-width: 479px) {
    #img-edit-task { height:96px; width: auto; }
    #img-new-task { height:96px; width: auto; }
}

.deactivate { opacity: 0.2; }
