// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time-diff-display {
height:100px !important;
width:100px !important;
padding:10px !important;
text-align:center !important;
font-size: 36px !important;
background-image:url(refresh.png) !important;
background-repeat:no-repeat !important;
background-position: bottom 4px right 4px !important;
background-blend-mode: multiply !important;
}

.separator50 {
  height:50px;
}
