// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.total-mins-table {
  background-color: #EAEAEA;
  font-size: 16px !important;
  font-weight: 700;
  padding:10px;
}

.task-description-index p {
  font-size: 10px !important;
  font-weight: 200 !important;
  color: #999999 !important;
  text-shadow: none !important;
}

.task-description-show {
  font-size: 14px !important;
  font-weight: 300 !important;
  color: #333 !important;
  border: 1px solid #EAEAEA;
  padding: 20px;
}
.task-description-show p {
    text-shadow: none !important;
}
