<!DOCTYPE html>
<html>
<head>
  <title>WebWaqtar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- ### ### ### jQuery library ### ### ### -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- ### ### ### jQuery UI library ### ### ### -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />

  <!-- ### ### ### Bootstrap 3 ### ### ### -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/npm.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>

<!-- ### ### ### Font Awesome icons ### ### ### -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<!-- ### ### ### Source Sans Pro Google Fonts ### ### ### -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&subset=latin-ext" rel="stylesheet">


</head>
<body>
  <header>
  <div class="container-fluid header-cover">
    <div class="container">
      <h1 style="text-shadow: 1px 1px #000"><i class="fa fa-clock-o" aria-hidden="true"></i> WEB WAQTAR</h1>
      <p>Ruby on Rails aplikacija za obračun radnog vremena</p>
      <p>Development & maintenance: Rusmir Gadžo</p>
      <p>&nbsp;</p>
      <p>&raquo <%= link_to "Dodaj novi projekat", new_task_path(), alt: 'Dodaj novi projekat', title: 'Dodaj novi projekat' %>
        &raquo <%= link_to "Unesi novo vrijeme", new_record_path(), alt: 'Unesi radno vrijeme', title: 'Unesi radno vrijeme' %>
      </p>
      <!-- <p> <a class="link-blue" href="#" data-toggle="modal" data-target="#login-modal-win" id="login-modal-btn">LOGIN</a> </p> -->
    </div>
  </div>
  <div class="container-fluid" style="background-color:#333; color:#FFF;">
    <p class="text-center" style="margin:0px !important; padding:10px;">
      <% unless flash[:notice].nil? %>
      <%= flash[:notice] %>
      <% end %>
  </p>
  </div>
  </header>

<!--      WAQTAR: MODAL: ADD TASK     -->

        <!-- CSS Modal START -->
        <style>
        .modal-header, h4, .close {
        background-color: #000;
        color:white !important;
        text-align: center;
        font-size: 30px;
        }
        </style>
        <!-- CSS Modal END -->

<div class="container">
          <!-- Modal -->
          <div class="modal fade" id="login-modal-win" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4>Dodaj novi projekat</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form role="form">
                    <div class="form-group">
                      <label for="usrname"><span class="glyphicon glyphicon-tasks"></span> Naziv projekta</label>
                      <input type="text" class="form-control" id="usrname" placeholder="...projekat">
                    </div>
                    <div class="form-group">
                      <label for="psw"><span class="glyphicon glyphicon-user"></span> Naručilac</label>
                      <input type="text" class="form-control" id="psw" placeholder="...naručilac">
                    </div>
                      <button type="submit" class="btn btn-block btn-warning" style="background-color:#FF8500; color:#FFF;"><span class="glyphicon glyphicon-plus-sign"></span> <strong>Dodaj projekat</strong></button>
                      <div style="height:5px;">&nbsp;</div>
                  </form>
                </div>

              </div>

            </div>
          </div>
</div>


<!--      WAQTAR: MODAL: ADD TASK     -->



<%= yield %>

<hr />

<footer>
  <div class="container">
    <h3>Changelog:</h3>
    <ul>
      <li>Uređivanje/izmjena zadatka</li>
      <li>Status zadatka - indikator i izmjena status</li>
    </ul>
  </div>
<footer>

<hr />

<div class="container-fluid text-center">
  <p class="btn-primary" style="padding:10px;">HTML 5 &bull; Bootstrap 3 &bull; Ruby on Rails &bull; jQuery &bull; PostgreSQL
<br>Hosted by: HEROKU </p>
</div>
<p>&nbsp;</p><p>&nbsp;</p>

</body>
</html>
